@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;0,700;1,500&display=swap');

* {
  font-family: 'Barlow Semi Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  padding: 2rem 1rem;
  /* height: 100vh; */
}

.app small {
  color: hsl(229, 64%, 46%);
  font-weight: 700;
  letter-spacing: 2px;
}

.state-0 {
  background-image: url('./images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70%;
}

.paper-gradient {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.rock-gradient {
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.scissors-gradient {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.indicator::before {
  content: "";
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: #fff;
  opacity: .04;
  transform: translate(-2.5rem, -2.5rem);
}

.rules-btn {
  letter-spacing: 3px;
}

@media (min-width:1024px) {
  .state-0 {
    background-image: url('./images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 25%;
  }

  .indicator::before {
    content: "";
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background: #fff;
    opacity: .04;
    transform: translate(-5.5rem, -5.5rem);
  }
}