@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  height: 100vh;
}

.paper-gradient {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.rock-gradient {
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.scissors-gradient {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}