@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  padding: 2rem 1rem;
  /* height: 100vh; */
}

.app small {
  color: hsl(229, 64%, 46%);
  font-weight: 700;
  letter-spacing: 2px;
}

.state-0 {
  background-image: url('./images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70%;
}

.paper-gradient {
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.rock-gradient {
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.scissors-gradient {
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.rules-btn {
  letter-spacing: 3px;
}